
body{
    background-color: black;
}

.main-net{
    background: url('../img/fondo4.jpg');
    height: 580px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;

}

.letras{
    height: 45px;
    width: 167px; 
    margin-top: 18px;
    margin-left: 150px;
}

.btn-i-s{
    background-color: #e50914;
    color: #ffffff;
    float: right;
    margin: 18px 3% 0 3%;
    padding: 4px 17px 4px 17px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
}

.btn-p-g{
    background-color: #e50914;
    color: #ffffff;
    font-size: 30px;
    margin: 30px 0;
    border-radius: 2px!important;
    height: 90px;
    width: 600px;
}

.btn-p-g-2{
    background-color: #e50914;
    color: #ffffff;
    font-size: 14px;
    margin: 30px 0;
    border-radius: 2px!important;
    height: 45px;
    width: 250px;
}

.white-text{
    color: #ffffff !important;
}

.h1{
    font-size: 80px;
    /*font-family: 'Staatliches';*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700!important;
}

.h4{
    font-size: 30px;
    font-family: 'Staatliches';
    font-weight: 400!important;
}

.texto{
    margin: 80px 0 0 0;
}

.middle-net{
    background-color: #171717;
    height: 180px;
}

.mt-30{
    margin-top: 30px;
}

/*centrar contenido*/ 
.column{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center; 
}

.txt-55{
    font-size: 55px;
}

.txt-32{
    font-size: 32px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    word-spacing: 1px;
}

.txt-22{
    font-size: 22px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    word-spacing: 1px;
}

.center-text{
    text-align: center;
}

/*.icon-content{
    height: 600px;
}*/

.door-content{
    padding: 30px 150px 400px 150px;
    height: 150px;
}

.tv-content{
    padding: 40px 150px 510px 150px;
    height: 600px;
}

.tag-content{
    padding: 40px 200px 510px 200px;
    height: 650px;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

#icon:hover{
    color:white;
}

.no-m-p{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
}

.margin-footer{
    margin: 20px 150px 30px 100px;
}

.txt-sub:hover{
    text-decoration: underline;
}

.margin-footer2{
    padding: 20px 150px 80px 200px;
}

.btn-i-s-2{
    background-color: #e50914;
    color: #ffffff;
    float: right;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    width: 315px;
    height: 55px;
    margin-left: 15px;
}

.bd-2{
    background: url('../img/fondo1.jpg');
}

.letras2{
    height: 45px;
    width: 167px; 
    margin-top: 25px;
    margin-left: 50px;
}

.bg-dark{
    border-color: #000000!important;
}

.form-sesion{
    width: 450px;
    height: 640px;
    background-color: rgba(0,0,0,.75);
    padding: 60px 68px 40px 68px;
    margin-left: auto;
    margin-right: auto;
}

.c-blue{
    color: rgb(3, 0, 255);
}

.footer-sesion{
    background-color: rgba(0,0,0,.85);
}

.no-pd-r{
    padding-right: 0px !important;
}

.no-pd-l{
    padding-left: 0px !important;
}

.mt-100{
    margin-top: 100px;
}

.cover{
    background-color: rgba(0,0,0,.65);
    height: 580px;
}

.cover2{
    background-color: rgba(0,0,0,.55);
    padding-bottom: 3rem;
}

.ml-lb{
    margin-left: 37px;
}

.ml-ayu{
    margin-left: 80px;
}

.valido{
    border-bottom-color: rgb(0, 251, 0) !important;
}

.invalido{
    border-bottom-color: #e87c03 !important;
}

.naranja{
    color: #e87c03;
}

.verde{
    color: rgb(0, 251, 0);
}

.fnt-700{
    font-weight: 700;
}

.ht-input{
    height: 50px !important;
}

.whatching{
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px; 
}

.min-user{
    height: 10vw;
    width: 10vw;
    margin-right: 30px;
    margin-bottom: 7px;
    z-index: -1;
}

.justify{
    justify-content: center;
}

.btn-manage{
    color: grey;
    background-color: transparent;
    font-weight: 600;
    width: 250px;
    height: 50px;
}

#btn-manage-profiles:hover{
    color: #ffffff;
}

#btn-done:hover{
    color: #ffffff;
}

.edit-icon{
    font-size: 40px;
    color: #ffffff;
}

/*.img-opcty{
    opacity: .50;
}*/

.width-100{
    width: 100%;
}

.dim-div-usr{
    opacity: .50;
    height: 10vw;
    width: 10vw;
    margin-right: 30px;
    margin-bottom: 7px;
}

.mt-120{
    margin-top: 110px;
}

.gray-bckd{
    background-color: #141414;
}

.edit-icon3{
    font-size: 30px;
    color: #ffffff;
}

