body{
    background-color: black;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    
}

.letras{
    width: 100px; 
    margin-right: 5px;
    margin-top: 10%;
    float:left;
    margin-left: 1%;
    position: relative;
    
}

.nav-margen{
    margin-top: 0.5%;
    margin-left: 18px;
    height: 100%;
    font-size: 0.9rem;
}

.iconos{
    color:white !important; 
    font-size:20px; 
    margin-top:50%;
    padding-right: 18%;
}

.descripcion1{
    position:relative; 
    width:38%; 
    padding-top:8%;
    padding-left: 5%;
}

#texto1{
  width:90%; 
  padding:3% 0 4.5% 0; 
  font-weight:bold;
}

#btn-1y2{
    font-weight: bold;
    font-size: 1em;
    width: 165px;
    opacity: 0.5;
    
}

.seccion{
  height: 500px;
  max-width: 100%;
}

/*---------------footer--------------*/
.footer{
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-origin: initial;
  display: block;
  max-width:100%;
  color: grey;
}


.table2 {
  width: 60%;
  letter-spacing: normal;
  padding: 2em 0;
  border-spacing: 10px 5px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  
}
.table2 a{
  color: grey;
}

.table2 a:hover{
  color: #fff;
}


/*-----------------carousel -------------------*/
.carousel1{
    position:relative; 
    width:42%; 
    padding:8% 0 0 5%;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


#wrapper{
  max-width:100%;
  padding:0px 0px 0px 0px;
  position:relative;
}

button:focus {outline:0 !important;}

.left-controls{
  
  position:absolute;
  top:14.8%;
  left:0;
  width:4%;
  height:145px;
  z-index:40;
  background:rgb(0, 0, 0);
  opacity:0.8;
  cursor:pointer;
  text-align:center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;

}

.fa-chevron-left-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-5px;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:white;
  opacity:.1;
}


.right-controls{
  position:absolute;
  top:14.8%;
  right:0;
  width:4%;
  height:145px;
  z-index:40;
  background:rgb(0, 0, 0);
  opacity:0.8;
  cursor:pointer;
  text-align:center;
  /*webkit justify content: center;*/
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;
}

.fa-chevron-right-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-5px;
 transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:white;
  opacity:.1;
}

.title{
  color:#eee;
}

.module-section{
  max-width: 100%;
  overflow: hidden;
  overflow-x:scroll;
  height: 230px;
}

.lista{
width:220em;
list-style-type:none;
padding:36px 0 0px 0;

}

#content{
  position:relative;
}

.card{
  width: 248px;
  height:140px;
  /*background:#fff;*/
  float:left;
  margin-right:1px;
  margin-bottom:px;
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  -moz-box-shadow: 0px 1px 2px 0px #676767;
  -webkit-box-shadow: 0px 1px 2px 0px #676767;
  box-shadow: 0px 1px 2px 0px #676767;
  
}

#img{
  height: 100%;
  width: 100%;
}

.card:hover{
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  transition: all .2s ease-in-out;
  transform: scale(1.5); 
  z-index:100;
  position:relative;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;
 
  
}

 .inside-top{
  width:100%;
  height:140px;
  background:#000;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}



.clearfix {
  overflow: auto;
  zoom: 1;
}

#main-container{
  padding: 40px 100px 20px 190px;
  margin-top: 70px;
  background-color: #f3f3f3 !important;
  box-sizing: border-box;
}

#main-container2{
  padding: 40px 100px 20px 190px;
  margin-top: 70px;
  background-color: #f3f3f3 !important;
  box-sizing: border-box;
}

.txt-accnt{
  color: #000;
}

.txt-gray{
  color: #676767;
}

.txt-blck{
  color: #000;
}

.fl-r{
  float: right;
}

.ml-95{
  margin-left: 95px;
}

.txt-wdt{
  width: 100%;
}

.btn-memb{
  font-size: 13px;
  line-height: 1em;
  background: #e6e6e6;
  width: 200px;
  display: block;
  margin: 0px 10px 10px 0px;
  padding: 10px 35px 10px 35px;
  border: 4px;
  border-color: #676767;
}

.b-d{
  border-bottom: 1.5px #999999 solid !important;
}

.footer-account{
  background-color: hsl(0, 0%, 95%) !important;
}

.hr-ft{
  margin: 0px 0px;
  border-color: #676767; 
}

#h1-cambiar-correo{
  color: #000000;
  font-size: 2.15em;
  margin-bottom: 40px;

}

#p1{
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}

.label-upd-corr{
  color: #808080;
}

.label-correo{
  color: #000000;
  margin-bottom: 35px;
}

.valido{
  border-bottom-color: rgb(0, 251, 0) !important;
}

.invalido{
  border-bottom-color: #e87c03 !important;
}

.naranja{
  color: #e87c03;
}

.verde{
  color: rgb(0, 251, 0);
}

#new-phone{
  height: 44px;
  width: 310px;
}

#contra-phone{
  height: 44px;
  width: 310px;  
}

.contenedor{
  margin-left: auto;
  margin-right: auto;
}

.h1-detalles{
  font-size: 33px;
  color: #000;

}

.lbl{
  font-size: 13px;
  color: #999999;
}

.txt-1{
  font-size: 11px;
}

.container-blanco{
  background-color: #fff !important;
  padding: 10px 0px 10px 10px;
  border: solid 1px;
  border-color: #999999;
}

#tabla-historial{
  font-size: 14px;
}

.td-custom{
  width: 200px;
  height: 30px;
}

.txt-c{
  text-align: center;
}

.txt-r{
  text-align: right;
}