body, html{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}



#input-nombre, #input-apellido,#input-numero-tarjeta,
#input-fecha-vencimiento,#input-codigo-CVV{
   height: 60px;
   border: solid 1px #8c8c8c;
   border-radius: 2px;
}

.text{
    font-size: 13px;
    color: #828282;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 1rem;
  
}

.text-paso{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8rem !important;
}

#btn-guardar:hover{
    background-color: #ec111c;
}


