html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }

  #a-iniciar-sesion:hover{
    color: #333;
    font-weight: 700;
    font-size: 20px;
    line-height: 90px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
 }

 #a-iniciar-sesion{
  color: #333;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
  font-size: 20px;
  float: right;
  padding-right: 0rem;
}



#head{
  padding-top: 0% !important;
  padding-bottom: 0% !important; 
}

.enlace-gris-footer{
  font-size: 1em;
  color: #a6a6a6;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
 
#a-gris-1:hover{
  color: #a6a6a6;
  font-size: 1rem;
}

#a-gris-2:hover{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-3:hover{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-4:hover{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-5:hover{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-6:hover{
  color: #a6a6a6;
  font-size: 13px;
}

#a-gris-7:hover{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-1{
  color: #a6a6a6;
  font-size: 1em;

}

#a-gris-2{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-3{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-4{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-5{
  color: #a6a6a6;
  font-size: 13px;
}
#a-gris-6{
  color: #a6a6a6;
  font-size: 13px;
}

#a-gris-7{
  color: #a6a6a6;
  font-size: 13px;
}



#footer-gray{
  background-color: #f3f3f3;
  padding: 2%;
  padding-left: 0%;
}

#row-1-footer{
    margin: 1rem;
    margin-left: 0%;
}

#row-2-footer{
  margin: 1rem;
  margin-left: 0%;
}


@media (max-width: 768px) {
    #letras-img {
      margin: 0.5rem;
      width: 50%;
      margin-left: 10%;
    }
    #a-iniciar-sesion {
      font-size: 19px;
      line-height: 30px;
      font-size: 15px;
      float: right; 
    }
    .background-select {
      background: #fff;
      font-size: 1em;
      border: 1px solid #a6a6a6;
  }
}

.nfSelect {
    background: #fff;
    font-size: 16px;
    height: 48px;
    border: 1px solid #a6a6a6;
    -moz-appearance: none;
    border-radius: 2px;
    width: 70%;
    padding: 10px;
    border-color: transparent;
    color: #a6a6a6;
}

.background-select{
  background: #fff;
  font-size: 1em;
  border: 1px solid #a6a6a6;
}

.select-1::after {
  background-color: #fff;
  content: '';
  position: absolute;
  pointer-events: none;
  border: 6px solid;
      border-top-color: currentcolor;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      border-left-color: currentcolor;
  border-color: #333 #fff #fff #fff;
  right: 10px;
  top: 49%;
}

/*btn-red*/
.btn-danger {
  color: #fff;
  background-color: #e50914;
  border-color: #e50914;
  width: 100%;
  border-radius: 2px;
  min-height: 48px;
  font-weight: 400;
  font-size: 17px;
}


.margin-sup{
  margin-top: 7.5rem;
}

